* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}
body{
    background-color: rgba(212, 206, 206, 0.466);
}
:root{
    /* Side Nav Basic Options And All Catagories  */
    --Side_nav_cata_text-:black;
    --Side_nav_cata_text_hover-:rgb(137,5,5);
    --Side_nav_cata_bg-:rgb(255, 255, 255);
    --Side_nav_cata_bg_hover-:rgba(255, 106, 0, 0.16);
    --Side_nav_catagori_border-:silver;
    --Side_nav_options_hover-:rgba(255, 106, 0, 0.16);
    /* Three Dots  */
    --Side_nav_dots_opt1_bg-:rgb(1, 90, 179);
    --Side_nav_dots_opt2_bg-:rgb(179, 35, 13);
    --Side_nav_dots_opt3_bg-:linear-gradient(145deg, rgb(228, 21, 87) 5%, rgba(40, 33, 225, 0.903) 80%);
    --Side_nav_dots_opt4_bg-:rgb(75, 156, 255);
    --Side_nav_dots_text-:white;
    --Close_three_dot_details_hover-:rgb(179, 5, 5);
    /* Every Catagori Details  */
    --cata_details_border-:silver;
    --cata_details_box_bg-:rgb(255, 255, 255);
}
                                    /* Side Bar Container  */
.Side_bar_container {
  max-width: 400px;
  min-height: 100vh;
  position:relative;
  
}
                                    /* Side Menu Nav Background  */
.Side_bar_background {
  width: 100%;
  height: 100vh;
  background-color: var(--cata_details_box_bg-);
  position: absolute;
  top: -100px;
  left: 0;
  z-index: -1;
}
                                    /* Side Menu Basic Options  */
.Side_bar_home_option {
  margin-top: 100px;
  border-top: 1px solid var(--Side_nav_catagori_border-) !important;
}
.basic_options {
  height: 60px;
  width: 100%;
  background-color: var(--Side_nav_cata_bg-);
  border: 1px solid var(--Side_nav_catagori_border-);
  border-left: none;
  border-right: none;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color .3s ease;
}
.Side_bar_About_us_option a{
  margin-right: 50px !important;

}
.Side_bar_Contact_us_option a{
  margin-right: 50px !important;

}

.basic_options .Basic_links_navigation{
  text-decoration: none;
  color: var(--Side_nav_cata_text-);
  font-weight: 500;
  transition: all .5s ease;
  margin-right: 70px;
  /* padding: 50px 100px; */
}

.basic_options img {
  width: 25px;
  /* position: absolute;
  left: 30%; */
  margin-right: 30px;
  transition: all .5s ease;
}
.Services_img{
  margin-right: 30px !important;

}
.home_img{
  margin-right: 25px !important;

}
.basic_options:hover {
    background-color: var(--Side_nav_options_hover-);
}
.basic_options:hover .Basic_links_navigation {
  color: var(--Side_nav_cata_text_hover-);
  /* position: absolute;
  margin-right: -20%; */
}
.basic_options:hover .Basic_options_imgs{
  color: var(--Side_nav_cata_text_hover-);
  margin-left: 40px;
}

                                        /* Side Bar All Catagories  */
.side_bar_catagories{
    height: 50px;
    width: 100%;
    background-color: var(--Side_nav_cata_bg-);
    border: 1px solid var(--Side_nav_catagori_border-);
    border-left: none;
    border-right: none;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s ease;
    /* Text  */
    text-decoration: none;
    color: var(--Side_nav_cata_text-);
    font-weight: 500;
    transition: all .5s cubic-bezier(0.59, 0.09, 0.66, 1.16);


}
.side_bar_catagories:hover{
    color: var(--Side_nav_cata_text_hover-);
    background-color: var(--Side_nav_cata_bg_hover-);
}
.extra_categories{
  opacity: 0;
  display: none;
}
                  /* See More Arrow Icon  Styling  */
.See_more_arrow{
  right: 90px;
}
.More_cat_arrow{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: .4s ease;
  border-radius: 50%;
  transform: rotate(90deg);
}

.see_arrow_line_1,.see_arrow_line_2{
  height: 2px;
  width: 10px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  border-radius: 5px;
  transition: .5s ease-in-out;
  transition: opacity .1s ease;
  opacity: 1;
}
.see_arrow_line_1{
  transform: rotate(-40deg);
  top: 50%;
  left: 40%;
}
.see_arrow_line_2{
  transform: rotate(40deg);
  top: 30%;
  left: 40%;
}

                            /* Side Bar catagories More Options   */
.catagories_options_container{
    height: 104%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: -100px;
    left: 0%;
}
.Catagories_details{
    height: 100%;
    width: 100%;
    top: 9%;
    position: absolute;
    background-color: var(--cata_details_box_bg-);
}

                                    /* Go Back Icon  */
.Go_back{
    max-width: 30px;
    min-height: 30px;
    object-fit: cover;
    transform: rotate(90deg);
    position: absolute;
    top: -55px;
    left: 15px;
    cursor: pointer;
}
                                    /* Header of catagories Side Menu  */
.side_menu_top{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgb(255, 255, 255);
}
                                /* Side Menu Icon  */
.Side_menu_icon{
  width: 33px;
  height: 25px;
  z-index: -1 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 35px;
  left: 20px;
  cursor: pointer;

}
                          /* Lines of Side Menu Icon  */
.Side_icon_lines{
  height: 3px;
  border-radius: 2px;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
                          /* Cross The Side Menu   */
.cross_menu_icon{
  width: 38px;
  height: 33px;
  position: absolute;
  top: 35px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
}
                          /* Lines of Cross the Side Menu Icon  */
.line1_cross{

  transform: rotate(-45deg) !important;

}
.cross_icon_lines{
  position: absolute;
  height: 3px;
  transform: rotate(45deg);
  border-radius: 2px;
  width: 33px;
  background-color: rgb(0, 0, 0);
}
                                    /* Catagori Details Divs  */
.cata_opts_div{
    height: 60px;
    width: 100%;
    background-color: var(--Side_nav_cata_bg-);
    border: 1px solid var(--cata_details_border-);
    border-left: none;
    border-right: none;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .5s ease;
}
.cata_opts_div:hover{
    background-color: var(--Side_nav_cata_bg_hover-);
}
.cata_opts_div:hover a{
    color: var(--Side_nav_cata_text_hover-);
    position: absolute;
    margin-right: -10%;
}
                                    /* Catagori Details Links  */
.cata_options{
    text-decoration: none;
    color: var(--Side_nav_cata_text-);
    font-weight: 500;
    transition: all .5s ease;
}
#Cata_opts_1{
  border-top: 1px solid var(--cata_details_border-);
}

/* Main Category Arrow Icon  */
.Category_arrow{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: .4s ease;
  border-radius: 50%;
}
.arrow_div{
  position: absolute;
  right: 20%;
}
.arrow_line_1,.arrow_line_2{
  height: 2px;
  width: 13px;
  background-color: rgb(137,5,5);
  position: absolute;
  border-radius: 5px;
  transition: .5s ease-in-out;
  transition: opacity .1s ease;
  opacity: 0;
}
.arrow_line_1{
  transform: rotate(-40deg);
  top: 58%;
  left: 30%;
}
.arrow_line_2{
  transform: rotate(40deg);
  top: 30%;
  left: 30%;
}

.side_bar_catagories:hover .arrow_line_1{
  opacity: 1;
  }
  .side_bar_catagories:hover .arrow_line_2{
  opacity: 1;
}
  .side_bar_catagories:hover .Category_arrow{
  margin-right: -20px;
}

                        /* Sign in  */
.Sign_in_container{
  height: 50px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sign_in_div{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.Sign_in_btn{
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid silver;
  color: black;
  font-weight: 500;
  padding: 13px 20%;
  border-radius: 2px;
  transition: all .5s ease;
}
.Sign_in_btn:hover{
  background-color: var(--Side_nav_options_hover-);
  color: var(--Side_nav_cata_text_hover-);
  border: 1px solid var(--Side_nav_options_hover-);
}

                        /* Three Dots Container Styling Here  */
.Three_dots_menu_cont{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
                            /* Dots Div Styling  */
.three_dots_div{
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

}
                      /* Dots Styling  */
.Side_menu_dots{
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 500%;
}

.dots_Details_cont{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  transform: scale(.7);
  opacity: 0;
  transform-origin:right;
  z-index: 22 !important;
  /* animation: scale 1s linear infinite; */
}
#Side_catagori_logo{
  z-index: 2;
  top: -100px;
  position: absolute;
}
@keyframes scale{
  to{
    transform: scale(1);

  }
  from{
    transform: scale(.5);

  }
}
.Dots_details_box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.Three_dot_items{
  height: 60px;
  width: 100%;
  background-color: var(--Side_nav_cata_bg-);
  border: 1px solid var(--Side_nav_catagori_border-);
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}
.Three_dots_opt_one{
  border-top: 1px solid var(--Side_nav_catagori_border-) !important;
}
.Three_dot_items:hover .three_dots_anchors{
  color: var(--Side_nav_dots_text-);

}
.three_dots_anchors{
text-decoration: none;
color: var(--Side_nav_cata_text-);
}
.Three_dots_opt_one:hover {
  background-color: var(--Side_nav_dots_opt1_bg-);
}
.Three_dots_opt_two:hover {
  background-color: var(--Side_nav_dots_opt2_bg-);
}
.Three_dots_opt_three:hover {
  background: var(--Side_nav_dots_opt3_bg-);
}
.Three_dots_opt_four:hover {
  background-color: var(--Side_nav_dots_opt4_bg-);
}

.dot_details_cross_lines{
  width: 20px !important;
  height: 2px !important;
}
.Close_dot_details:hover .dot_details_cross_lines{
  background-color: white;
}
.Close_dot_details:hover{
  background-color: var(--Close_three_dot_details_hover-);
}

